{% extends "template.html" %}
{% block content %}
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<div>
			{{form.teamName.label}}
			{{form.teamName}}
			{% if form.errors %}
				{% for error in form.teamName.errors %}
					<span>{{error}}</span>
				{% endfor %}
			{% endif %}
		</div>
		<div>
			{{form.teamDescription.label}}
			{{form.teamDescription}}
			{% if form.errors %}
				{% for error in form.teamDescription.errors %}
					<span>{{error}}</span>
				{% endfor %}
			{% endif %}
		</div>
		<div>
			{{form.teamMember.label}}
			{{form.teamMember}}
			{% if form.errors %}
				{% for error in form.teamMember.errors %}
					<span>{{error}}</span>
				{% endfor %}
			{% endif %}
		</div>
		<div>
			{{form.submit}}	
		</div>
	</form>
{% endblock %}	