{% extends "layout.html" %}
{% block content%}

<div class="wrap-custom">
	<section id="team-header">
		<div class="container">
			<section class="section-custom" id="team-name">
				<div>
					<div style="display: inline-block;">
						<h2 id="teamName">{{ team.name }}</h2>
						<form>
							<h2><input class="Input-text" style="display: none;" id="editTeamName"  name="teamName"></h2>
						</form>
					</div>
					<div style="display: inline-block;">
						<i id="toggleEdit" onclick="showInput()" style="margin-left: 10px; font-size:25px; display: inline-block;" class="fa fa-edit"></i>
					</div>
					<div style="display: inline-block;">
						<i id="cancelEdit" onclick="hideInput()" style="margin-left: 10px; font-size:25px;" class="fa fa-times" aria-hidden="false"></i>
					</div>
					<div>
						<p>{{team.description}}</p>
					</div>
					<div>
						<form style="display: inline-block;" method="POST"
							action="{{url_for('delete_team',team_id=team.id)}}">
							<input type="submit" value="Delete" class="btn btn-danger">
						</form>
						<form style="display: inline-block" method="POST"
							action="{{url_for('leave_team',team_id=team.id)}}">
							<input type="submit" value="Leave" class="btn btn-danger">
						</form>
                        <form style="display: inline-block;" method="POST"
							action="{{url_for('sessions', team_id=team.id)}}">
							<input type="submit" value="Chat" class="btn btn-primary">
						</form>
						<form style="display: inline-block;" method="POST"
							action="{{url_for('discussion_list', team_id=team.id)}}">
							<input type="submit" value="discussion" class="btn btn-primary">
						</form>
					</div>
				</div>
			</section>
			<section class="section-custom" id="members">
				<div>
					<h2>
						Members
						<img data-toggle="modal" data-target="#AddingMember" class="add-icon"
							src="https://cdn4.iconfinder.com/data/icons/user-interface-131/32/add-512.png" />
					</h2>
					<div>
						{% for member in team.members %}
						<div style="display: inline-block;" class=" toggle-context-menu">
							<a class="" href="{{url_for('other_profile',user_id=member.id)}}"><img class="avatar-icon"
									src="{{url_for('static', filename='profile_pics/' + member.profile_image)}}" /></a>
							{% if member != team.teamLeader%}
							<div class="member-context-menu animate slideIn">
								<a class="dropdown-item"
									href="{{url_for('remove_member',team_id=team.id, member_id=member.id)}}">Remove
									Member</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
							{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
		</div>
	</section>
	<section id="team-body">
		<div class="container">
			<!-- Progress Bar -->
			<section class="section-custom" id="progress">
				<div>
					<h3>
						Progress
					</h3>
					<div class="running-bar">
						<div id="progress-run" style="width: {{progress}}%">{{progress}}%</div>
					</div>
					<div id="check">
						<p>
							{{totalTaskComplete}}/{{team.tasks | length}}
							<img id="check-icon"
								src="https://cdn4.iconfinder.com/data/icons/delivery-1-1/512/clipboard-512.png" />
						</p>
					</div>
				</div>
			</section>
			<!-- Tasks -->
			<section class="section-custom">
				<div id="task" class="row">
					<!-- TASK DOING -->
					<div class="doing-complete col" id="doing-task">
						<h2>Task
							<img data-toggle="modal" data-target="#AddingTask" class="add-icon"
								src="https://cdn4.iconfinder.com/data/icons/user-interface-131/32/add-512.png" />
						</h2>
						<div class="card-wrapper">
							{% for i in range((task_data)|length) %}
							{% if task_data[i]["status"] == False %}
							<div class="task-card">
								<div class="task-card-body">
									<h4 id="name{{task_data[i]['id']}}">{{ task_data[i]["name"] }}</h4>
									<p id="description{{task_data[i]['id']}}">{{ task_data[i]["description"] }}</p>
									<a href="#" data-toggle="modal" data-target="#CompleteTask" id="{{task_data[i]['id']}}" class="complete-task btn btn-primary">Mark as complete</a>
									<a href="#" data-toggle="modal" data-target="#EditingTask" id="{{task_data[i]['id']}}" class="edit-task btn btn-info">Edit</a>
									<a href="{{url_for('deleteTask',team_id=team.id,task_id=task_data[i]['id'])}}" class="btn btn-danger">Delete</a>

									<p>{% if task_data[i]["date_created_day"] == 1 %}
										Created {{task_data[i]["date_created_day"]}} day ago
										{% elif task_data[i]["date_created_day"] > 1 %}
										Created {{task_data[i]["date_created_day"]}} days ago
										{% else %}
										{% if task_data[i]["date_created_hour"] >= 1  %}
										Created {{task_data[i]["date_created_hour"]}} hours ago
										{% else %}
										{% if task_data[i]["date_created_minute"] >= 1 %}
										Created {{task_data[i]["date_created_minute"]}} minutes ago
										{% else %}
										Created {{task_data[i]["date_created_second"]}} seconds ago
										{% endif %}
										{% endif %}
										{% endif %}</p>
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
					<!-- TASK COMPLETED -->
					<div class="doing-complete col" id="complete-task">
						<h2>Complete</h2>
						<div class="card-wrapper">
							{% for i in range((task_data)|length)%}
							{% if task_data[i]["status"] == True %}
							<div class="task-card">
								<div class="task-card-body">
									<h3>{{ task_data[i]["name"] }}</h3>
									<div style="display: inline-block;">
										<p>
											{% if task_data[i]["date_completed_day"] == 1 %}
											Completed {{task_data[i]["date_completed_day"]}} day ago by
											{% for member_complete in task_data[i]['complete_by'] %}
											{{member_complete}}
											{%endfor%}
											{% elif task_data[i]["date_completed_day"] > 1%}
											Completed {{task_data[i]["date_completed_day"]}} days ago by
											{% for member_complete in task_data[i]['complete_by'] %}
											{{member_complete}}
											{%endfor%}
											{% else %}
											{% if task_data[i]["date_completed_hour"] >= 1  %}
											Completed {{task_data[i]["date_completed_hour"]}} hours ago by
											{% for member_complete in task_data[i]['complete_by'] %}
											<!--looping through list of member who complete the task -->
											{{member_complete}}
											{%endfor%}
											{% else %}
											{% if task_data[i]["date_completed_minute"] >= 1 %}
											Completed {{task_data[i]["date_completed_minute"]}} minutes ago by
											{% for member_complete in task_data[i]['complete_by'] %}
											{{member_complete}}
											{%endfor%}
											{% else %}
											Completed {{task_data[i]["date_completed_second"]}} seconds ago by
											{% for member_complete in task_data[i]['complete_by'] %}
											{{member_complete}}
											{%endfor%}
											{% endif %}
											{% endif %}
											{% endif %}
										</p>
									</div>
									<div class="" style="display: inline;">
										{% for image in task_data[i]['user_image'] %}
										<a><img class="avatar-icon" src="{{url_for('static', filename='profile_pics/' + image)}}" /></a>
										{% endfor %}
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="section-custom">
					<h2>Contribution</h2>
					{% for i in range((member_data)|length) %}
					<h5>{{member_data[i]['name']}}</h5>
					<div class="member-contribution">
						<div class="contribution-bar" style="width:{{member_data[i]['taskDone']*10}}%;">
						</div>
						<div class="task-done">
							<h5 style=>{{member_data[i]['taskDone']}}</h5>
						</div>
					</div>
					{%endfor%}
				</div>
			</section>
		</div>
	</section>
</div>

<!-- Modal for adding task -->
<div class="modal fade" id="AddingTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add new task</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="" method="POST">
					{{ form_add_task.hidden_tag() }}
					<div>
						{{ form_add_task.name.label }}
						{{ form_add_task.name }}
					</div>
					<div>
						{{ form_add_task.description.label }}
						{{ form_add_task.description }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						{{form_add_task.submit_task(class="btn btn-primary")}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal for adding member -->
<div class="modal fade" id="AddingMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add new members</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="" method="POST">
					{{ form_add_member.hidden_tag() }}
					<div>
						{{ form_add_member.teamMembers.label }}
						{{ form_add_member.teamMembers }}
						{% if form_add_member.errors %}
						{% for error in form_add_member.teamMembers.errors %}
						<span>{{error}}</span>
						{% endfor %}
						{% endif %}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						{{form_add_member.submit_member(class="btn btn-primary")}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal for editing task -->
<div class="modal fade" id="EditingTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form method="POST">
					<div style="display: none;">
						<input name='editId' id="editId">
					</div>
					<div>
						<input name='editName' id="editName">
					</div>
					<div>
						<input name='editDescription' id="editDescription">
					</div>
					<div>
						<input type="submit" value="submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal for complete task -->
<div class="modal fade" id="CompleteTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Accomplish</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form method="POST">
					<div>
						<input name='completeId' id="completeId">
					</div>
					{% for member in team.members %}
						<input name="membersComplete" type="checkbox" value="{{member.username}}">
							<a><img class="avatar-icon" src="{{url_for('static', filename='profile_pics/' + member.profile_image)}}"/></a>
					{% endfor %}
					<div>
						<input type="submit" value="submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="{{url_for('static',filename='js/myteam/myteam.js')}}"></script>
{% endblock content%}