
    	{%extends "layout.html"%}

        	{%block content%}

            <section>				
            	<div class="register-login-page">
				  	<div class="form">
				 
				    <form class="register-form" method="POST">
				    	<h3>Sign Up</h3>
				    	{{ form.hidden_tag() }}
				    	<div>
				       		{{form.username(type="text", placeholder="username")}}
			       				{% if form.errors %}
									{% for error in form.username.errors %}
									<span>{{error}}</span>
								{% endfor %}
							{% endif %}
						</div>
						<div>
		       				{{form.email(placeholder="email")}}
				     	  		{% if form.errors %}
								{% for error in form.username.errors %}
									<span>{{error}}</span>
								{% endfor %}
							{% endif %}

						</div>	
						<div>
				       		{{form.phoneNumber(placeholder="phone number")}}
						
							{% if form.errors %}
								{% for error in form.username.errors %}
									<span>{{error}}</span>
								{% endfor %}
							{% endif %}
						</div>
						<div>
				       		{{form.password(placeholder="password")}}
						</div>
						<div>
					       	{{form.confirm_password(placeholder="confirm password")}}
						</div>
						<div>
				       		{{form.gender}}
				   		</div>
				   		<div>
				      		{{form.submit(class="button-log-reg")}}
				  		</div>
				      <p class="message">Already have an account?<a href="{{url_for('login')}}"> Login Here</a></p>
				   	</form>
				  </div>
				</div>
{%endblock content%}
    </body>
}
</html>